<%= turbo_frame_tag message do %>
  <div id="<%= dom_id(message) %>_messages">
    <% if message.user? %>
      <div class="col-md-6">
        <p class="text-left"> <%= message.content %></p>
      </div>
    <% else %>
      <div class="col-md-6">
        <p class="text-right"> <%= message.content %></p>
      </div>
    <% end %>
  </div>
<% end %>