<div class="d-flex align-items-center my-3">
  <div class="flex-grow-1 fs-4">
    Chat
  </div>
  <%= form_with model: Chat.new do |form| %>
    <button class="btn btn-primary" type="submit">
      New
    </button>
  <% end %>
</div>

<div class="list-group">
  <% Chat.all.order(id: :desc).each do |chat| %>
    <a href="<%= chat_path(chat) %>" class="list-group-item">
      #<%= chat.id %>
    </a>
  <% end %>
</div>