<div class="container">

    <div class="row">
        <%= turbo_frame_tag "messages" do %>
          <%= render @chat.messages %>
        <% end %>
    </div>

    <div class="row">
      <%= render partial: "messages/form", locals: { chat: @chat } %>
    </div>

    <%= turbo_stream_from @chat, :messages %>

</div>

